## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
*.nupkg
*.log
*.cache
*.tmp

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## NuGet
**.nupkg
**/packages/*

## Visual Studio
.vs/
*.sln.ide/
*.sln.ide/
*.sln.DotSettings.user
_ReSharper*/
*.resharper

## JetBrains Rider
.idea/
*.sln.iml

## macOS
.DS_Store

## Windows
Thumbs.db
Desktop.ini

## GitHub
*.gh
